# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Env / secrets
.env
.env.local
*.pem

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Streamlit / local
.streamlit/secrets.toml

# Build / deploy
dist/
build/
*.log
node_modules/
*.sqlite

.vercel
